<h1>New post in <%= @forum_post.forum_thread.subject %></h1>

<br>

<h4>Submitted by <%= @forum_post.user.email %></h4>
<p><%= @forum_post.body %></p>

<br>

<p><%= link_to "Reply to this post", forum_thread_url(@forum_post.forum_thread, anchor: dom_id(@forum_post)) %></p>
